<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <title>CMPT 213 Online Hangman Game</title>
</head>
<body>

     <div align="center">
         <h1> Game <span th:text="${games.id}"></span> Page</h1>
     </div>
     <br>
     <div style="margin-left:15%; font-size=28 px ">
    <p>Status:  <span th:text="${games.status}"></span></p>
         <p> Progress:  <span  th:text="${games.progress}"></span></p>
         <p> You have made <span th:text="${games.totalGuesses}"></span> guesses, out of which <span th:text="${games.wrongGuesses}"></span> are incorrect</p>
         <form action="#" th:action="@{/game}" method="post" th:object="${game}">
             <label>Your guess:</label>
             <input type="text" th:field="*{guess}"/>
             <button type="submit">Make a guess</button>
         </form>
         <br>
         <br>
         <br>
         <a href="/welcome">Back to welcome Page</a>
</div>
</body>
</html>